<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CGC App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/pagination.css">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- endinject -->
    

</head>
<body>
    <div class="container-fluid">
        
<div class="row">
    <div class="pause" id="pause"></div>
    <div class="level-num" id="level-num"></div>
    <div class="chat" id="chat"></div>
</div>
<div class="row">
    <div class="round-circle">
        <div class="inner-circle"></div>
        <div class="time" id="time"></div>
    </div>
</div>
<div class="row">
    <form action="" class="answers">
        <input type="number" name="" id="">
        <input type="number" name="" id="">
        <input type="number" name="" id="">
        <input type="number" name="" id="">
    </form>
</div>

    </div>
    
    <!-- inject:js -->
    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/nunjucks/nunjucks.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- endinject -->
    

</body>
</html>