<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        
Character choose

    </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baumans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    
<!-- inject:css -->
<link rel="stylesheet" href="../css/pagination.css">
<link rel="stylesheet" href="../css/styles.css">
<!-- endinject -->

</head>

<body id="bodyInput">

    <div class="container-fluid">
        
<button id='chat' class='chat'>Chat</button>
<button id='ranking' class='ranking' onclick='rankClick()'>Ranks</button>
<div class="append"></div>
<div id="chatbox">
    <div id="close-chat" class="close-chat">
       <i class="fas fa-arrow-left"></i>
        <p class="close-text-chat">Close</p>
    </div>
    <div id="chatmessages"></div>
    <form action='/api/message' autocomplete='off' method='POST' id='sendMessage'>
    <input type='text' id='chatarea' placeholder='Send a message' name='text'>
    <button type='submit' id='sendChat' form='sendMessage'>Send</button>
    </form>
</div>
<div id="rankbox">
    <div id="close-chat" class="close-chat">
       <i class="fas fa-arrow-left"></i>
        <p class="close-text-chat">Close</p>
    </div>
    <table class="blueTable">
    <thead>
    <tr>
    <th>NO</th>
    <th>PLAYER NAME</th>
    <th>SCORE</th>
    </tr>
    </thead>
    <tbody id='appendTable'>
    </tbody>
    </table>
</div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    
<!-- inject:js -->
<script src="../js/nunjucks/nunjucks.min.js"></script>
<script src="../js/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/index.js"></script>
<!-- endinject -->

</body>

</html>