<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    
</head>
<body>
{% extends "header.html" %}
    
    {% block header %}
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Something</li>
            <li>Lala</li>
            <li>Hey</li>
        </ul>
    {% endblock %}
    <script src="./public/nunjucks/nunjucks.min.js"></script>
</body>
</html>