p{
    font-size: 17px;
}

h1{
    font-size: 35px;
    color: #2E2E2E;
    font-family: 'Josefin Slab', serif;
    margin-bottom: 24.4px;
}

html , body{
    background-color: #5CB9EB;
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans' , sans-serif;
}

.parent-box {
    width: 100%;
    margin: auto;
    position: relative;
}

.box {
    /* position: relative; */
    height: 498px;
    background-color: #fff;
    padding: 37.9px 52.9px 22.9px 52.9px;
    vertical-align: middle;
    border-radius: 10px;
    width: 686px;
    margin: 0 auto;
    transform: translateY(30%);
}

.textarea-box {
    background-color: #FAFAFA;
    border : none;
    height: 160px;
    width: 100%;
    margin-bottom: 32.2px;
    padding: 19.3px 27.2px;
    color: #D2D2D2;
}

.answer-box {
    width: 137px;
    height: 72px;
    border: none;
    background-color: #E7E7E7;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
}

.answer-box:nth-of-type(1){
    background-color: #84CCF3 !important;
    color: white !important;
}

.answer-box:focus{
    font-size: 40px;
}

.answer-box:nth-of-type(1)::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.answer-box:nth-of-type(1):-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.answer-box:nth-of-type(1)::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.add{
    width: 137.33px;
    height: 45.78px;
    background-color: #5FF457;
    border:none;
    float: right;
    margin-top: 35px;
    font-family: 'Joselin Slab', serif;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    /* display: inline-block; */
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 5px;
    z-index: 2;
    position: absolute;
    bottom: 400px;
    right:52.9px;
}

input[type="button"]:focus {
    outline: none;
}

input[type="number"]:focus {
    outline: none;
}

/* For Firefox */

input[type='number'] {
    -moz-appearance: textfield;
    resize: none;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#timeBoxLabel{
    margin-top: 44px;
    margin-right: 11px;
    font-size: 24px;
    font-family: 'Josefin Sans',sans-serif;
}

#timeBox {
    border: none;
    text-align: center;
    width: 89px;
    height: 74px;
    display: inline-block;
    font-size: 42.45px;
    color: #535353;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.add:active{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0px 2px;
}

#falseAnswerBox {
    margin-left: 5px;
}


/****************************************************

                    SIDEBAR

****************************************************/

.overlay{
    width : 100%;
    height :100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    position: absolute;
}

.sidebar{
    width:768px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 3;
    position: absolute;
}

.title{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: 56.46px;
    display: inline;
}

.all-question {
    margin: 24px 38px;
}

.questionBox{
    width: 100%;
    height : 177px;
    margin-bottom: 9px;
}

.list{
    font-size: 24px;
    width : 100%;
    height: auto;
    border: none;
}

.delete{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: 18px;
    color:#9E9E9E;
    border:none;
    background-color: rgba(255,255,255,1);
    margin-bottom:18px;
}

.update{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: 18px;
    color:#5CB9EB;
    float: right;
    border:none;
    background-color: rgba(255,255,255,1);
    margin-bottom:18px;
}

ol{
    list-style: none;
}

.answer-box-edit {
    display: inline-block;
    width: 115px;
    height: 55px;
    border: none;
    background-color: #E7E7E7;
    border-radius: 50px;
    text-align: center;
    font-size: 31.92px;
    font-family: 'Josefin Sans' , sans-serif;
    margin-bottom: 25px;
}

.answer-box-edit:nth-of-type(1){
    background-color: #84CCF3;
    color: white;
}