<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CGC App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baumans" rel="stylesheet">
    {% block css %}
    {% endblock %}

</head>
<body>
    <div class="container-fluid">
        {% block main %}
        {% endblock %}
    </div>

    <script src="/socket.io/socket.io.js"></script>
    {% block script %}
    {% endblock %}

</body>
</html>