<!-- index.html -->
{% extends "./../templates/base.html" %} <!-- we're extending the base template -->
 
{% block title %}This is the new title of our webpage{% endblock %}

    {% block css %}
    <!-- inject:css -->
    <!-- endinject -->
    {% endblock %}
 
{% block content %}
    <div class="row">
      <div class="parent-box">
        <div class="box">
          <h1>Make your question here</h1>
          <form action="/question/api" id="questionForm" method="POST">
            <textarea name="question" id="questionForm" class="textarea-box">Add your question here.</textarea>                      
            <input type="number" name="answers" id="trueAnswerBox" class="answer-box">
            <input type="number" name="answers" id="falseAnswerBox" class="answer-box">
            <input type="number" name="answers" id="falseAnswerBox" class="answer-box">
            <input type="number" name="answers" id="falseAnswerBox" class="answer-box">
            <input type="submit" value="Add" class="add">
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<!-- inject:js -->
<!-- endinject -->
{% endblock %}
