p{
    font-size: 17px;
}

h1{
    font-size: 35px;
    color: #2E2E2E;
    font-family: 'Baumans',cursive;
    margin-bottom: 24.4px;
}

body.create{
    background-color: #5CB9EB;    
}

html , body{
    width: 100%;
    height: 100%;
    font-family: 'Baumans',cursive;
}

.parent-box {
    width: 100%;
    margin: auto;
    position: relative;
}

.box {
    /* position: relative; */
    height: auto;
    background-color: #fff;
    padding: 37.9px 52.9px 22.9px 52.9px;
    vertical-align: middle;
    border-radius: 10px;
    width: 686px;
    margin: 0 auto;
    transform: translateY(10%);
}

.textarea-box {
    background-color: #FAFAFA;
    border : none;
    height: 160px;
    width: 100%;
    margin-bottom: 32.2px;
    padding: 19.3px 27.2px;
    color: #D2D2D2;
    font-size: 24px;
}

.answer-box {
    width: 137px;
    height: 72px;
    border: none;
    background-color: #E7E7E7;
    border-radius: 50px;
    text-align: center;
    font-size: 17px;
}

.answer-box:nth-of-type(1){
    background-color: #84CCF3 !important;
    color: white !important;
}

.answer-box:focus{
    font-size: 40px;
}

.answer-box:nth-of-type(1)::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.answer-box:nth-of-type(1):-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.answer-box:nth-of-type(1)::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.add{
    width: 137.33px;
    height: 45.78px;
    background-color: #5FF457;
    border:none;
    float: right;
    font-family: 'Joselin Slab', serif;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    /* display: inline-block; */
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 5px;
    z-index: 2;
    position: absolute;
    bottom: 570px;
    right:52.9px;
}

input[type="button"]:focus {
    outline: none;
}

input[type="number"]:focus {
    outline: none;
}

/* For Firefox */

input[type='number'] {
    -moz-appearance: textfield;
    resize: none;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#timeBoxLabel{
    margin-top: 44px;
    margin-right: 11px;
    font-size: 24px;
    font-family: 'Baumans',cursive;
}

#timeBoxLabelEdit{
    margin-top: 14px;
    margin-right: 11px;
    font-size: 24px;
    font-family: 'Baumans',cursive;
}

#timeBox {
    border: none;
    text-align: center;
    width: 89px;
    height: 74px;
    display: inline-block;
    font-size: 42.45px;
    color: #535353;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.add:active{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0px 2px;
}

#falseAnswerBox {
    margin-left: 5px;
}

.see-questions {
    display: inline-block;
    position: absolute;
    z-index: 2;
    bottom: calc(100% - 60%);
    transform: rotate(-90deg);
    padding: 6px;
    background-color: #84CCF3;
    transform-origin: left top 0;
    border-radius: 0 0 5px 5px;
    color : white;
    cursor: pointer;
}


/****************************************************

                    SIDEBAR

****************************************************/

.overlay{
    width : 100%;
    height :100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    position: absolute;
    display: none;    
}

.sidebar{
    width:55%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 3;
    position: absolute;
    display: none;
}

.title{
    font-family: 'Baumans',cursive;
    font-size: 56.46px;
    display: inline;
}

.all-question {
    margin: 24px 38px;
}

.questionBox{
    width: 100%;
    height : auto;
    margin-bottom: 9px;
}

.list{
    font-size: 24px;
    width : 100%;
    height: auto;
    border: none;
    margin-bottom: 15px;
}

.delete{
    font-family: 'Baumans',cursive;
    font-size: 18px;
    color:#9E9E9E;
    border:none;
    background-color: rgba(255,255,255,1);
    margin-bottom:18px;
}

.update{
    font-family: 'Baumans',cursive;
    font-size: 18px;
    color:#5CB9EB;
    float: right;
    border:none;
    background-color: rgba(255,255,255,1);
    margin-bottom:18px;
}

ol{
    list-style: none;
}

.answer-box-edit {
    display: inline-block;
    width: 115px;
    height: 55px;
    border: none;
    background-color: #E7E7E7;
    border-radius: 50px;
    text-align: center;
    font-size: 31.92px;
    font-family: 'Baumans',cursive;
    margin-bottom: 25px;
}

.answer-box-edit:nth-child(1n+2){
    margin-left: 15px;
}

.answer-box-edit:nth-of-type(1){
    background-color: #84CCF3;
    color: white;
}

#get {
    display: none;
}

.remove-icon {
    font-size: 25px;
    color :#B4B4B4;
    transform: translateX(50%);
}

.close-box{
    display: block;
    float: right;
    margin: 0 auto;
    cursor: pointer;
}

.close-text{
    text-align: center;
    color: #707070;
    font-size: 20px;
    opacity: 1;
    margin: 0;
}


/****************************************************

                    RANGE SLIDER

****************************************************/

.rangeValue{
    font-size: 24px;
    display: inline-block;
}

input[type=range] {
    height: 41px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #50555C;
    background: #F0F0F0;
    border-radius: 25px;
    border: 0px solid #FFFFFF;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 35px;
    width: 26px;
    border-radius: 7px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F0F0F0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #50555C;
    background: #F0F0F0;
    border-radius: 25px;
    border: 0px solid #FFFFFF;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 35px;
    width: 26px;
    border-radius: 7px;
    background: #529DE1;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #F0F0F0;
    border: 0px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #50555C;
}

input[type=range]::-ms-fill-upper {
    background: #F0F0F0;
    border: 0px solid #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #50555C;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 35px;
    width: 26px;
    border-radius: 7px;
    background: #529DE1;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F0F0F0;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F0F0F0;
}

#timeLittleBox{
    border: none;
    text-align: center;
    width: 36px;
    height: 31px;
    display: inline-block;
    font-size: 15.45px;
    color: #535353;
    background-color: #f7f7f7;
    border-radius: 10px;
    float: right;
    right: 0;
}



/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 320px) {
    #bodyInput{
        background: #023CFF;
    }

    div#formInput{
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        display: block;
        position: absolute;
        max-width: 100%;
        width : 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    label[for=from]{
        font-family: 'Baumans' , cursive;
        color : white;
    }

    input[type=submit]#nameSubmit {
        border: solid 1px white;
        background: none;
        color : white;
        padding: 11px 26px;
        margin-top : 29px;
    }

    input[type=text]#from{
        padding : 0 20px 0 20px;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        border:none;
    }

    a.fetchUser{
        position: relative;
        bottom: -140px;
        font-family: 'Baumans' , cursive;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        color:white;
    }

    div.append{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
    }

    #countdown {
        position: relative;
        margin: auto;
        margin-top: 100px;
        height: 40px;
        width: 40px;
        text-align: center;
    }

    #countdown-number {
        color: white;
        display: inline-block;
        line-height: 40px;
        font-size: 58.26px;
        font-family: 'baumans',cursive;
        position: relative;
        right: 5px;
    }

    svg {
        position: absolute;
        top: -111px;
        right: -10px;
        width: 152px;
        height: 261px;
        transform: rotateY(-180deg) rotateZ(-90deg);
    }
    circle {
        stroke-dasharray: 426px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 4px;
        stroke: white;
        fill: none;
    }

    .circle{

    }

    .input-area{
        top: calc(320px);
        position: absolute;
        width: 100%;
        padding-left: 19px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .question-display{
        position: relative;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        top: 100px;
        font-size: 14px;
        color: white;
    }

    .input-area input[type=submit]{
        width: 45%;
        height: 110px;
        display: inline-block;
        margin-right: 14px;
        margin-bottom: 14px;
        background-color: #2A2A2A;
        border: none;
        color: white;
        font-size: 32.94px;
        font-family: 'Baumans',cursive;
        border-radius: 5px;
    }

    .level-text{
        display: block;
        text-align: center;
        color: white;
        position: relative;
        top: 19px;
    }

    .level-text > p{
        font-size: 12px;        
    }

    .new-user {
        position: absolute;
        top : 0;
        margin: 0 auto;
        color: white;
        display: none;        
        background-color: #529DE1;
        width: 100%;
        height: auto;
    }

    .user-welcome{
        position: relative;
        top : 50%;
        left : 0;
        right: 0;
        text-align: center;
        margin-bottom: 0;
        display: none;
        font-size: 14px;
    }

    #chatbox{
        display: none;
        overflow:none;
        position: relative;
        width: 0;
        height : 100%;
    }
    }

    #rankbox{
        display: none;
        overflow:none;
        position: relative;
        width: 0;
        height : 100%;
    }

    /*         ALL TABLES           */
    table.blueTable {
        width: 100%;
        height: 100px;
        text-align: center;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table.blueTable td,
    table.blueTable th {
        padding: 5px 2px;
    }

    table.blueTable tbody td {
        font-size: 14px;
        color: #FFFFFF;
    }

    table.blueTable thead {
        border-bottom: 2px solid #FFFFFF;
    }

    table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }

    table.blueTable tfoot td {
        font-size: 14px;
    }

    /*         END TABLES           */

    .chat{
        z-index: 2;
        top: 0;
        position: absolute;
        border: none;
        background: none;
        color: white;
        font-size: 20px;
        margin-top: 19px;
        margin-left: 10px;
    }

    .ranking{
        z-index: 2;
        top: 0;
        margin-right: 35px;
        position: absolute;
        border: none;
        background: none;
        color: white;
        font-size: 20px;
        margin-top: 19px;
        right:0;
    }

    #sendMessage{
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        position: fixed;
        text-align: center;
    }

    #chatarea {
        height: 100%;
        width: 80%;
        border: none;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        padding: 20px;
        border-radius: 5px;
    }

    #sendChat{
        height: 56px;
        width: 17%;
        border: none;
        color: white;
        border-radius: 5px;
        background-color: rgba(11, 187, 255, 1);
    }

    #text{
        height: 50px;
    }

    #chatmessages{
        overflow: auto;
        position: relative;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        color: white;
        list-style: none;
        padding: 30px;
    }

    .bubble-you{
        float: right;
        display: table;
        background-color: rgba(94, 94, 94, 0.45);
        padding: 10px;
        border-radius: 5px;
        width: auto;
        text-align: left;
        clear: both;
        max-width: 60%;
    }

    .bubble-bot{
        clear: both;
        display: table;
        width: auto;
        padding: 10px;
        background: rgba(94, 94, 94, 0.45);
        border-radius: 5px;
        max-width: 58%;
    }

    .time{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .close-chat{
        width: 100%;
        color: white;
        margin-top: 9px;
        padding-left: 18px;
        cursor: pointer;
    }

    .rank-chat{
        width: 100%;
        color: white;
        margin-top: 9px;
        padding-left: 18px;
        cursor: pointer;
    }

    .close-text-chat{
        margin-left: 7px;
        display: inline;
        cursor: pointer;
    }

    @keyframes countdown {
        from {
            stroke-dashoffset: 0px;
        }
        to {
            stroke-dashoffset: 426px;
        }
    }
}