{% extends "./../templates/baseplay.html" %}

{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %}

{% block title %}
Character choose
{% endblock %}

{% block content %}
<button id='chat' class='chat'>Chat</button>
<div class="append"></div>
<div id="chatbox">
    <div id="close" class="close">
        <i class="glyphicon glyphicon-remove remove-icon"></i>
        <p class="close-chat">Close</p>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- inject:js -->
<!-- endinject -->
{% endblock %}