{% extends "./../templates/baseplay.html" %}

{% block css %}
<!-- inject:css -->
<!-- endinject -->
{% endblock %}

{% block title %}
Character choose
{% endblock %}

{% block content %}
<button id='chat' class='chat'>Chat</button>
<button id='ranking' class='ranking' onclick='rankClick()'>Ranks</button>
<div class="append"></div>
<div id="chatbox">
    <div id="close-chat" class="close-chat">
       <i class="fas fa-arrow-left"></i>
        <p class="close-text-chat">Close</p>
    </div>
    <div id="chatmessages"></div>
    <form action='/api/message' autocomplete='off' method='POST' id='sendMessage'>
    <input type='text' id='chatarea' placeholder='Send a message' name='text'>
    <button type='submit' id='sendChat' form='sendMessage'>Send</button>
    </form>
</div>
<div id="rankbox">
    <div id="rank-chat" class="rank-chat">
       <i class="fas fa-arrow-left"></i>
        <p class="close-text-chat">Close</p>
    </div>
    <table class="blueTable">
    <thead>
    <tr>
    <th>NO</th>
    <th>PLAYER NAME</th>
    <th>SCORE</th>
    </tr>
    </thead>
    <tbody id='appendTable'>
    </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<!-- inject:js -->
<!-- endinject -->
{% endblock %}